### Assignment

In [1]:
# Creating a list to store monthly sales data
#monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

In [2]:
# first quarter
q1 = [120, 135, 150]

In [3]:
#second quarter
q2 = [145, 155, 160]

In [4]:
#third quarter
q3 = [170, 180, 190]

In [5]:
# forth quarter
q4 = [200, 210, 220]

In [6]:
#average sales in first quarter
avg_q1 = sum(q1)/len(q1)
print(avg_q1)

135.0

In [7]:
#average sales in second quarter
avg_q2 = sum(q2)/len(q2)
print(avg_q2)

153.33333333333334

In [8]:
#average sales in third quarter
avg_q3 = sum(q3)/len(q3)
print(avg_q3)

180.0

In [9]:
#average sales in forth quarter
avg_q4 = sum(q1)/len(q4)
print(avg_q4)

135.0

# Report on quarters with the highest sales

### Third Quarter with 180.0 has the highest sales

### first quarter and forth quarter have the lowest sales respectively

# 2 Store the names of a few of your friends in a list called names. 

### - Print each person’s name by accessing each element in the list, one at a time.

### - Start with the list you created, but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name. hint(use may use f-strings)

In [10]:
lst = ['hans','jedi','yinks','monne']

In [11]:
lst[0]

'hans'

In [12]:
lst[1]

'jedi'

In [13]:
lst[2]

'yinks'

In [14]:
lst[3]

'monne'

In [15]:
lst1 = lst[0]
print(lst1)
print(f'hello {lst1}!')

hans
hello hans!

In [16]:
lst2 = lst[1]
print(lst2)
print(f'how is it going {lst2}')

jedi
how is it going jedi

In [17]:
lst3 = lst[2]
print(lst3)
print(f'what is good {lst3}')

yinks
what is good yinks

In [18]:
lst4 = lst[3]
print(lst4)
print(f'how is it going {lst4}')

monne
how is it going monne

# 3. You are managing a list of students' names in your class. 

### * Create a list called student_names containing the following student names as strings: 'Alice', 'Bob', 'Charlie', 'David', 'Eve'.

### - Use the student_names list from the list above for the following operations:

###  - a. Print the number of students in the class (the length of the list).

###  - b. Print the first and last student names in the list.

###  - c. Charlie has left the class. Remove his name from the list.

###  - d. A new student, "Frank," has joined the class. Add his name to the list.

 ### - e. The class has been dissolved, and you need to remove all student names from the list.

In [19]:
student_names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']

In [20]:
# student size
student_size = len(student_names)
print(student_size)

5

In [21]:
# first and last student
student_steps = student_names[0::4]
print(student_steps)

['Alice', 'Eve']

In [22]:
# Get the first and last indices
first_index = student_names[0]
last_index = student_names[-1]

# Print the first and last indices
print(f'First index: {first_index}')
print(f'Last index: {last_index}')

First index: Alice
Last index: Eve

In [23]:
print(f'{first_index}\n{last_index}')

Alice
Eve

In [24]:
student_names

['Alice', 'Bob', 'Charlie', 'David', 'Eve']

In [25]:
student_names.remove('Charlie')
# Print the updated list
print(student_names)

['Alice', 'Bob', 'David', 'Eve']

In [26]:
'Charlie' in student_names

False

In [27]:
print(student_names)

['Alice', 'Bob', 'David', 'Eve']

In [28]:
student_names.append('Frank')

In [29]:
student_names

['Alice', 'Bob', 'David', 'Eve', 'Frank']

In [30]:
student_names.clear()

In [31]:
student_names

[]